@use "../../utils/linear-gradient.scss";
@use "../../utils/box-shadow.scss";
@use "../../utils/animation.scss";
body {
    background-color:  #f6f6f6;
}
#page-resto {
 
    .menu img {
        display: block;
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
    
    .resto__tiltle {
       
        margin-top: -2rem; 
        border-radius: 2rem 2rem 0 0;
        h2 {
        font-family: Shrikhand,"cursive";
        padding: 2rem 1rem;
        border-radius: 2rem 2rem 0 0;
        background-color:  #f6f6f6;
        position: relative;
        i {
            font-size: 2rem;
            position: absolute;
            right:1rem;
            top:1rem;
        }
        .fa-solid {
            opacity: 0;
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
           @include linear-gradient.gradient;
            transition: all 500ms ease-in-out;
            &:hover.fa-solid {
            opacity: 1;
            }
            
        }
       
        }
    }
    
.resto-main {
        padding: 0 1rem;
      }
.menus {
        @media (max-width:1000px){
            grid-template-columns: 1fr;
        }
       
        display: grid;
        gap: 1rem;
        grid-template-columns:repeat(3, 1fr) ;
      h3 {
          font-weight: 450;
          position: relative;
          &::after {
              content: "";
              position: absolute;
              top: 1.5rem;
              left: 0;
              height: 0.25rem;
              width: 3rem;
              background-color: aquamarine;
          }
      }
    .menus__category {
       
       overflow: hidden;
       
       border-radius: 1rem;
       margin: 0.5rem;
        .menu-item {
        display: flex;
        overflow: hidden;
        margin: 0.5rem;
        background-color: white;
        border-radius: 1rem;
        @include box-shadow.base-shadow; 
        .menu-item__price {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            .menu-item__description{
                padding: 1rem;
                overflow: hidden;
                h4, p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis; 
                }
            }
            .menu-item__check{
                display: grid;
                place-items: center;
                border-radius: 0 1rem 1rem 0;
                background-color: aquamarine;
                margin-right:-4rem;
                width:4rem;
            transition: margin-right 0.5s;
            
              i {
                display:grid;
                place-items: center;
                background: white;
                aspect-ratio: 1;
                width:2rem;
                border-radius: 1rem;
               color: aquamarine;

                }
            
            }
            &:hover {
                .menu-item__check {
                    margin-right: 0;
            }
                i{
                    @include animation.quarterspin;
                    animation: quarterspin 0.5s ease-in-out;
                }
            }
            
        }
    }
}
section.order {
    height: 30vh;
    display: grid;
    place-items: center;
    & button {
        @include linear-gradient.gradient;
         border: none;
         border-radius: 2rem;
        @include box-shadow.base-shadow;
         color: #fff;
         cursor: pointer;
         font-size: 1.5rem;
         font-size: 1rem;
         font-weight: 300;
         margin-top: 1rem;
         padding: 1rem 2rem;
         transition: transform .2s;
     }
     & button:hover {
        transform: scale(1.02);
         opacity: 0.9;
     }
     }
}
 

    
    
    
    

